<app-toast [message]="toast.message"></app-toast>

<div class="tournament">
  <!-- tournament logo -->
  <div class="tournament__logo-container tournament__logo-container--right">
    <strong class="tournament__logo tournament__logo--gold"></strong>
  </div>
  <div class="row" style="margin-left: 80px;">
    <div>
      First Round
    </div>
    <div style="margin-left: 13em">
      Second Round
    </div>
    <div style="margin-left: 13em">
      Third Round
    </div>
    <div style="margin-left: 13em">
      Final
    </div>
  </div>
  <div class="tournament__grid">
    <!-- tournament__round 1/8 -->
    <div class="tournament__round tournament__round--first-round">
      <div *ngFor="let team of teams; let i = index">
        <div class="tournament__match" *ngIf="i % 2 == 0">
          <a class="tournament__match__team" href="#">{{ teams[i].tname }}</a>
          <a class="tournament__match__team" href="#">{{ teams[i + 1].tname }}</a>
        </div>
      </div>
    </div>

    <div class="tournament__round tournament__round--first-round">
      <div class="tournament__match">
        <a class="tournament__match__team" href="#"></a>
        <a class="tournament__match__team" href="#"></a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#"></a>
        <a class="tournament__match__team" href="#"></a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#"></a>
        <a class="tournament__match__team" href="#"></a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#"></a>
        <a class="tournament__match__team" href="#"></a>
      </div>
    </div>

    <!-- tournament__round 1/2 -->
    <div class="tournament__round">
      <div class="tournament__match">
        <a class="tournament__match__team" href="#"></a>
        <a class="tournament__match__team" href="#"></a>
      </div>
      <div class="tournament__match">
        <a class="tournament__match__team" href="#"></a>
        <a class="tournament__match__team" href="#"></a>
      </div>
    </div>

    <!-- tournament__round final -->
    <div class="tournament__round tournament__round--final">
      <div class="tournament__match">
        <a class="tournament__match__team" href="#"></a>
        <a class="tournament__match__team" href="#"></a>
      </div>
    </div>

    <!-- tournament__round winner -->
    <div class="tournament__round tournament__round--winner">
      <div class="tournament__match">
        <a class="tournament__match__team" href="#">
          <span class="trux">WINNER</span>
        </a>
      </div>
    </div>
  </div>
</div>

<script>


</script>

<style>
  .trux {
    color: orange;
  }

  .tournament {
    position: relative;
    min-height: 300px;
    padding: 30px 0 0;
  }

  .tournament__grid {
    font-size: 0;
    line-height: 0;
    display: flex;
    align-items: stretch;
    min-height: 400px;
  }

  .tournament__round {
    position: relative;
    flex: 1 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .tournament__match {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    align-items: center;
    min-height: 100px;
  }

  .tournament__match:first-child {
    margin: 0 !important;
  }

  .tournament__round--first-round .tournament__match {
    padding-left: 0;
  }

  .tournament__round--winner .tournament__match {
    padding-right: 0;
    height: 32px;
  }

  .tournament__match:after {
    content: '';
    position: absolute;
    right: 0;
    width: 2px;
    background: orange;
    top: 25%;
    bottom: 25%;
  }

  .tournament__round--winner .tournament__match:after,
  .tournament__round--end-point .tournament__match:after {
    display: none;
  }

  .tournament__match__team {
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s ease;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    background: white;
    display: block;
    position: relative;
    width: auto;
    height: 32px;
    line-height: 32px;
    padding: 0 36px 0 36px;
    margin: auto;
    border: 1px solid black;
    border-radius: 3px;
  }

  .tournament__match__team:focus,
  .tournament__match__team:hover {
    color: orange;
  }

  .tournament__match__team:before,
  .tournament__match__team:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 999px;
    height: 2px;
    margin-top: -1px;
    background: orange;
  }

  .tournament__match__team:after {
    left: 100%;
  }

  .tournament__round:last-child .tournament__match__team:after,
  .tournament__round--end-point .tournament__match__team:after {
    display: none;
  }

  .tournament__match__team:before {
    right: 100%;
  }

  .tournament__round:first-child .tournament__match__team:before {
    display: none;
  }
</style>