.container-fluid {
    display: flex;
    justify-content: space-around;
    color: black;
}

.lsog {
    background-image: url("https://styleguide.overwatchleague.com/5.8.0/assets/toolkit/images/background/OWL-DBG-2.jpg");
    color: white;
}

.slag {
    text-align: center;
}

.orange {
    color: orange;
}

.bidule {
    margin-top: 2%;
}

.lineorange {
    background-color: orange;
    height: 1px;
}

.sponsor {
    font-size: 16px;
    color: black;
}

.session-sponsor {
    height: 50px;
    width: 100%;
}

li {
    height: 50px;
    list-style-type: none;
    float: left;
    width: 200px;
    border-bottom: 1px solid orange;
}

.widthsponsor {
    width: 200px;
}

.img-sponsor {
    width: 80%;
}

.img-sponsor1 {
    width: 30%;
}

.img-sponsor2 {
    width: 100%;
}

.league {
    color: black;
    background-color:#ffffff;
    width: 100%;
    min-height: 400px;
}