.container-fluid {
    display: flex;
    justify-content: space-around;
    color: black;
}

.slag {
    text-align: center;
    margin: 20px;
}

.orange {
    color: orange;
}

.bidule {
    margin-top: 2%;
}

.lineorange {
    background-color: orange;
    height: 1px;
}


.sponsor {
    font-size: 16px;
    color: black;
}

.session-sponsor {
    height: 50px;
    width: 100%;
}

li {
    list-style-type: none;
    float: left;
    width: 200px;
}

.widthsponsor {
    width: 200px;
}

.img-sponsor {
    width: 80%;
}

.img-sponsor1 {
    width: 30%;
}

.img-sponsor2 {
    width: 100%;
}

.league {
    color: black;
    background-color: white;
    width: 100%;
    min-height: 400px;
}


.slug {
    display: flex;
    justify-content: space-around;
    color: black;
    text-align: center;
    }
    .fruf {
    display: flex;
    justify-content: space-around;
    color: black;
    }
    .lsog {
    background-image: url("https://styleguide.overwatchleague.com/5.8.0/assets/toolkit/images/background/OWL-DBG-2.jpg");
    color: white;
    text-align: center;
    }
    
    .vs {
    width: 70%;
    }
    ul {
    display: inline;
    list-style: none;
    }
    .joueurs {
    width: 70%;
    border : 2px solid rgb(73, 72, 72);
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 4px;
    }
    .row-fluid {
    display: flex;
    justify-content: space-around;
    }
    .titrejou {
    text-decoration: underline;
    color: orange;
    text-align: center;
    }
    .fluff li {
    text-align: left;
    }
    .elementB img {
    width: 60%;
    }
    button {
    margin-left: 20%;
    display: flex;
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
    
    height: 40px;
    text-align: center;
    }
    button:hover {
    background-color: orange;
    cursor: pointer;
    }
    
    .bluff {
    list-style: none;
    width:100%;
    padding:30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    
    }
    .bluff li.pic {
    float:left;
    margin:3px;
    background:grey;
    cursor: pointer;
    width: 240px;
    height: 320px;
    transition:0.18s linear 0s;
    border:3px solid #FFF;
    box-shadow:0px 0px 2px rgba(0,0,0,0.2);
    }
    .bluff li:hover {
    z-index:999;
    transform:scale(1.5);
    box-shadow:0px 0px 10px rgba(0,0,0,0.3);
    background:darkgrey;
    }
    
    
tabs {
    max-width: 90%;
    float: none;
    list-style: none;
    padding: 0;
    margin: 75px auto;
    border-bottom: 4px solid #ccc;
}
.tabs:after {
    content: '';
    display: table;
    clear: both;
}
.tabs input[type=radio] {
    display:none;
}
.tabs label {
    display: block;
    float: left;
    width: 33.3333%;
    color: #ccc;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    box-shadow: inset 0 4px #ccc;
    border-bottom: 4px solid #ccc;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
}
.tabs label span {
    display: none;
}
.tabs label i {
    padding: 5px;
    margin-right: 0;
}
.tabs label:hover {
    color: orange;
    box-shadow: inset 0 4px orange;
    border-bottom: 4px solid orange;
}
.tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    background-color:#ffffff;
}
.tab-content * {
    -webkit-animation: scale 0.7s ease-in-out;
    -moz-animation: scale 0.7s ease-in-out;
    animation: scale 0.7s ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
    }
  50% {
    transform: scale(1.01);
    opacity: 0.5;
    }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.tabs [id^="tab"]:checked + label {
    background: #FFF;
    box-shadow: inset 0 4px orange;
    border-bottom: 4px solid orange;
    color: orange;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
    display: block;
}
@media (min-width: 768px) {
    .tabs i {
        padding: 5px;
        margin-right: 10px;
    }
    .tabs label span {
        display: inline-block;
    }
    .tabs {
    max-width: 950px;
    margin: 50px auto;
    }
}

.bg-ticket {
    background-color: rgb(236, 236, 236);
    width: 100%;
    min-height: 400px;
    padding: 20px;
}

.bg-ticket a {
    color: orangered;
    font-size: 1.6rem;
    text-shadow: 5px 5px 20px rgb(133, 131, 131);
}

.img-ticket {
    width:100%;
    margin:10px;
    border-radius: 5px;
    border: 10px solid #ffffff;
    box-shadow: 12px 5px 30px rgb(155, 153, 153);
}
