

<div class="container-fluid slug">
    <div class="elementA">
        <h2>Next match</h2>
    </div>
    <div class="elementB">
        <h2>Presentation</h2>
    </div>
</div>

<div class="container-fluid lsog">
  <h2>About our team</h2>
</div>

<div class="container-fluid slag">
    <h2>Buy a ticket</h2>
  </div>



<style>
  .container-fluid {
    display: flex;
    justify-content: space-around;
    color: black;
}
.lsog {
  background-image: url("https://styleguide.overwatchleague.com/5.8.0/assets/toolkit/images/background/OWL-DBG-2.jpg");
  color: white;
}

</style>